CULTUREPASS_URL=https://culturepassnyc.quipugroup.net/?NYPL
CULTUREPASS_USERNAME=
CULTUREPASS_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SNAPSHOT_PATH=data/attractions_snapshot.json
MONITOR_TIMEOUT_MS=120000
SEND_ON_FIRST_RUN=false
FORCE_NOTIFY=false
INCLUDE_EMPTY_SECTIONS=false
INCLUDE_CURRENT_LIST=false
INCLUDE_OFFER_LIST=false
OFFERS_LOOKAHEAD_DAYS=30
OFFERS_QUERY_TIMEOUT_MS=25000
NO_SNAPSHOT_UPDATE=false
